*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body-nav .navbar-brand{
    padding-right: 200px;
}
.collapse>ul>li{
    margin-left: 100px;
}
.container-1{
    height: 500px;
    background-color: antiquewhite;
    
}
.body-left{
    width: 100%;
    margin-top: 150px;
}
.body-left >h1{
    font-size: 50px;
}
.body-left .btn{
    width: 130px;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 10px;
    box-shadow: 1px 5px 10px 2px black;
}
.body-right{
    width: 100%;
}
.body-right >img{
    margin-left: 200px;
    width: 400px;
    height: 400px;
    transition: 0.1s;
}
@media (max-width:926px) {
    .container-1{
        height: 450px;
        background-color: antiquewhite;
    }
    .body-left{
        margin-top: 80px;
    }
    .body-left >h1{
        width: 150px;
        font-size: 25px;
    }
    .body-left > p{
        font-size: 10px;
    }
    .body-left .btn{
        width: 110px;
        border-radius: 50px;
        font-size: 15px;
        margin-top: 10px;
        box-shadow: 1px 5px 10px 2px black;
    }
    .body-right >img{
        width: 300px;
        height: 250px;
        margin-left: 50px;
        margin-top: 50px;
       
    }
}
.container-2{
    width: 100%;
    margin-top: 50px;
    text-align: center; 
}
.container-2 .gender .btn{
    cursor: pointer;
    margin-top: 10px;
    margin-right:30px;
    transition: 1s;
}
.container-2 .gender .btn:hover{
    background-color: rgb(247, 3, 3);
    color: rgb(6, 6, 6);
}
/* ?? */
.main-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child-box1{
    width: 300px;
    height: 300px;
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
    text-align: center;

}
.child-box1 h1{
    font-size: 25px;
}
.child-box1 h2{
    font-size: 20px;
    color:  rgb(235, 142, 20);
}
.child-box1 img{
    width: 150px;
    height: 160px;
}
.child-box1 .btn{
    border-radius: 17px;
    cursor: pointer;
    background-color: rgb(235, 142, 20);
    transition: 1s ;
}
.child-box1 .btn:hover{
    box-shadow:  0px 1px 5px 4px rgb(239, 86, 72);
    color: white;
    background-color: rgb(237, 6, 6);
}
.child-box1 i{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
}

.child-box1 i:hover{
    color: red;
}
/* ??? */
.body-mainbox{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    justify-content:space-around;
}
@media (max-width:1200px) {
    .body-mainbox{
        width: 100%;
        height: 600px;
        margin-top: 30px;
        justify-content:space-around;
    }
}
.body-box1{
    width: 40%;
    height: 250px;
    margin-left: 30px;
    border-radius: 15px; 
    background-color: rgb(31, 31, 184);  
}
@media (max-width:1200px) {
    .body-box1{
        width: 70%;
        height: 250px;
        margin-right: 10px;
        border-radius: 20px; 
        background-color: rgb(31, 31, 184);  
    }
}
@media (max-width:1200px) {
    .body-box1{
        width: 100%;
        height: 250px;
        margin-right: 10px;
        border-radius: 20px; 
        background-color: rgb(31, 31, 184);  
    }
}
.small-body{
    margin-top: 50px;
    margin-right: 10px;   
}
.small-body img{
    width: 200px;
    height: 220px;
    margin-top: -50px;
}
.small-body .btn{
    width: 130px;
    border-radius: 30px;
    background-color: rgb(235, 142, 20);
}
.body-box2{
    width: 40%;
    height: 250px;
    margin-left: 10px;
    border-radius: 15px; 
    background-color: rgb(10, 10, 10);
    
}
@media (max-width:1200px) {
    .body-box2{
        width: 70%;
        height: 250px;
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 20px; 
        background-color: rgb(12, 12, 13);  
    }
}
@media (max-width:1200px) {
    .body-box2{
        width: 100%;
        height: 250px;
        margin-top: 20px;
        margin-right: 10px;
        border-radius: 20px; 
        background-color: rgb(3, 3, 3);  
    }
}
.small-body2{
    margin-top: 50px;
    color: white;
    border-radius: 20px;
    
}
.small-body2 img{
    width: 200px;
    height: 220px;
    margin-top: -50px;
}
.small-body2 .btn{
    width: 130px;
    border-radius: 30px;
    background-color: rgb(235, 142, 20);
}
.explore{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    justify-content: space-between;
}
/* *???* */
.main-box-2{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child-box2{
    width: 280px;
    height: 230px;
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
    text-align: center;

}
.child-box2 h1{
    font-size: 25px;
}
.child-box2 h2{
    font-size: 20px;
    color:  rgb(235, 142, 20);
}
.child-box2 img{
    width: 150px;
    height: 150px;
    margin-top: -70px;
}
.child-box2 .btn{
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(235, 142, 20);
    transition: 1s ;
}
.child-box2 .btn:hover{
    color: white;
    box-shadow:  0px 1px 5px 4px rgb(239, 86, 72);
    background-color: rgb(237, 6, 6);
}
.child-box2 i{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 25px;
}

.child-box2 i:hover{
    color: red;
}
/* model */
.popub {
    display: none; /* Hide popup by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}
.popub-content {
    width: 370px;
    height: 650px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.popub-content h1{
    font-size: 25px;
}
.popub-content img{
    width: 300px;
    height: 300px;
    margin-top: -50px;
}
.popub-content .close{
    width: 35px;
    height: 30px;
    position: absolute;
    top: 135px;
    right: 570px;
    cursor: pointer;
}
@media (max-width:1180px)  {
    .popub-content .close{
        width: 35px;
        height: 30px;
        position: absolute;
        top: 280px;
        right: 230px;
        cursor: pointer;
    }
}
@media (max-width:926px)  {
    .popub-content .close{
        width: 35px;
        height: 30px;
        position: absolute;
        top: 135px;
        right: 30px;
        cursor: pointer;
    }
}
.i h1{
    margin-top: 5px;
    color: rgb(141, 138, 136);
    font-size: 10px;
}
.popub-content .i-1{
    color: rgb(233, 204, 36);
}
.popub-content .color .btn{
    width: 45px;
    height: 40px;
    margin: 10px;
}
.popub-content .back{
    width: 370px;
    height: 50px;
    margin-left: -20px;
    margin-top: 41px;
   border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 10px 20px 1px black;
    background-color: rgb(255, 254, 254);
    align-items: center;
    justify-content: space-between;
}
.popub-content h2{
    font-size: 25px;
}
.popub-content .btn{
    background-color: rgb(162, 157, 157);
    transition: 1s;
}
.popub-content .btn:hover{
    color: white;
    background-color: black;
}
.popub-content .k{
    height: 40px;
    color: white;
    border-radius: 15px;
    
    background-color: rgb(235, 142, 20);
}
/* fulter */
.main-box1{
    height: 380px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.box{
    height: 380px;
    color: rgb(131, 117, 117);
    text-align: center;
    background-color: black;
}
.box img{
  
    height: 50px;
    margin: 10px;
    border-radius: 15px ;
}
.box p{
    margin-top: 15px;
    font-size: 15px;
}
.box .img-QR{
    width: 170px;
    height: 170px;
    border-radius: 15px;

}
.box-1{
    color: rgb(131, 117, 117);
    background-color: black;
}
.box-1 h1{
    font-size: 30px;
    padding:20px 0px 0px 30px ;
}
.box-1 p{
    font-size: 15px;
    padding:20px 0px 0px 30px ;
}

.box-2{

    font-size: 20px;
    color: rgb(131, 117, 117);
    background-color: rgb(4, 4, 4);
}
.box-2 h1{
    font-size: 30px;
    margin-left: -15px;
    padding:20px 0px 0px 30px ;
}
.box-2 i{
    margin: 10px;
    margin-top: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.box-2 i:hover{
    color: rgb(93, 89, 89);
}
.box-2 h2{
    color: white;
    margin-top: 30px;
    font-size: 25px;
    margin-left: -20px;
    padding:20px 0px 0px 30px ;
}
.box-2 p{
    padding:0px 0px 0px 30px ;
}
